@import "variables.scss";

// Font
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  &:active {
    outline: 2px dotted $Grayish-blue;
  }
  &:focus {
    outline: 2px dotted $Grayish-blue;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 1rem 5rem;
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 0;
  }
  overflow-x: hidden;
}

.attribution {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
