@import "../../../sass/variables.scss";
main {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.full {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: $lightbox;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in ease-in-out 0.5s both;
}

.slider {
  &--close {
    translate: -2.5rem;
    place-self: end;
    background: transparent;
    border: 0;
    transition: transform ease-in-out 0.2s;
    transform-origin: center;
    &:hover {
      transform: rotate(-90deg);
    }
    & svg {
      &:hover {
        cursor: pointer;
        stroke: $Orange;
        fill: $Orange;
      }
    }
  }

  display: grid;
  gap: 1rem;
  width: fit-content;

  &__preview {
    display: flex;
    align-items: center;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;

    & img {
      transition: scale ease-in-out 0.3s;
      width: 100%;
      height: 100%;
      &:hover {
        scale: 1.2;
      }
    }
    & > button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //
      background: $White;
      border: none;
      cursor: pointer;
      border-radius: 50px;
      padding: 1rem;
      transition: scale ease-in-out 0.1s;
      &:active {
        box-shadow: 1px 1px 0.1rem 0.1rem rgba(201, 130, 0, 0.507);
        scale: 0.95;
      }
    }
    &--next {
      translate: -1.5rem;
    }
    &--previous {
      translate: 1.5rem;
    }
  }

  & .slider__thumbs {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 1rem;
    & img {
      &.active {
        border: 2px solid $Orange;
        filter: opacity(0.5);
      }
      &:hover:not(.active) {
        // border: 0.15rem solid $Orange;
        filter: opacity(0.7);
      }
      transition: all ease-in 0.2s;
      border: 2px solid transparent;
      border-radius: 0.5rem;
      width: 80px;
      height: 80px;
      cursor: pointer;
    }
  }
}

.product {
  display: grid;
  grid-template-rows: auto 2fr 1fr 1.5fr auto;
  & *:first-letter {
    text-transform: uppercase;
  }

  &__tag {
    color: $Orange;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }
  &__header {
    color: $Very-dark-blue;
    text-transform: capitalize;
    font-size: 2.5rem;
  }
  &__description {
    color: $Dark-grayish-blue;
    font-size: 1rem;
    text-align: justify;
    max-width: calc(400px + 1rem);
  }
  &__price {
    color: $Very-dark-blue;
    margin-top: 0.5rem;
    & .coupon {
      border-radius: 0.2rem;
      padding: 0.2rem 0.4rem;
      margin-inline: 1rem;
      font-size: 0.8rem;
      font-weight: bold;
      color: $Orange;
      background: $Pale-orange;
    }
    & span:not(.coupon) {
      text-decoration: line-through;
      color: $Dark-grayish-blue;
      font-size: 0.7rem;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--amount {
      & span {
        color: $Very-dark-blue;
        font-weight: bold;
        margin: 0 1rem;
      }
      & button {
        background: $Pale-orange;
        border-radius: 0.2rem;
        padding: 0.1rem 1rem;
        font-size: 1.4rem;
        color: $Orange;
        border: none;
        cursor: pointer;
        &:hover {
          background: $Light-grayish-blue;
        }
      }
    }
    &--addToCart {
      & svg {
        fill: $White;
      }
      border: none;
      //   outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      background: $Orange;
      padding: 0.5rem 2rem;
      border-radius: 0.3rem;
      color: $White;
      transition: scale ease-in-out 0.3s;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.212);
      }
      &:active {
        scale: 0.9;
      }
    }
  }
}
